@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html[data-font="source-sans"] {
  --font-body: "Source Sans Pro", "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html[data-font="system"] {
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html[data-font="inter"] {
  --font-body: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
